.bagdara {
    background-color: #00A693;
    opacity: 0;
}
.tm>div>.bagdara {
    transform: translateY(30px);
}

.tm:hover>div>.bagdara {
    transform: translateY(0);
    transition: transform 0.50s;
    opacity: 1;
}

